<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.krishna.mp3alarm"
    android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:name=".Analytics.AnalyticsApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_scheme"
        android:icon="@mipmap/newicon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/newicon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".view.activity.RingingAlarmActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>
        <activity
            android:name=".view.activity.AboutActivity"
            android:parentActivityName=".view.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>

        <service
            android:name=".view.MediaPlayerService"
            android:enabled="true"
            android:permission="com.example.krishna.mp3alarm.MY_SERVICE_PERMISSION" />

        <receiver
            android:name=".view.PlayAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Maintodo.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".AddToDo.AddToDoActivity"
            android:parentActivityName=".Maintodo.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".About.AboutActivity"
            android:label="@string/app_name"
            android:parentActivityName=".Maintodo.MainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".Reminder.ReminderActivity"
            android:label="@string/app_name" />

        <service android:name=".Utility.TodoNotificationService" />
        <service android:name=".Utility.DeleteNotificationService" />

        <activity
            android:name=".Settings.SettingsActivity"
            android:parentActivityName=".Maintodo.MainActivity" />
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activities.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.activities.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.krishna.mp3alarm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".RecordingService" />

        <activity
            android:name=".SmsListActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".AddSmsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".SmsSchedulerPreferenceActivity" />

        <receiver
            android:name=".BootReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".ReminderReceiver" />
        <receiver android:name=".SmsSenderReceiver" />
        <receiver android:name=".SmsSentReceiver" />
        <receiver android:name=".SmsDeliveredReceiver" />

        <service android:name=".ReminderService" />
        <service android:name=".SmsSenderService" />
        <service android:name=".SmsSentService" />
        <service android:name=".SmsDeliveredService" />
        <service android:name=".UnscheduleService" />

        <activity android:name=".Home" />
        <activity
            android:name=".active.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".active.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".active.MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.active.MainActivity" />
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.krishna.mp3alarm.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".RecordingSer" />

        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Reminderpage" />
        <activity
            android:name=".viewone.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".viewone.activity.RingingAlarmActivity"
            android:parentActivityName=".viewone.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>
        <activity
            android:name=".viewone.activity.AboutActivity"
            android:parentActivityName=".viewone.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>

        <service
            android:name=".viewone.MediaPlayerService"
            android:enabled="true"
            android:permission="com.example.krishna.mp3alarm.MY_SERVICE_PERMISSION" />

        <receiver
            android:name=".viewone.PlayAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".alarmpage" />
        <activity
            android:name=".viewtwelve.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".viewtwelve.activity.RingingAlarmActivity"
            android:parentActivityName=".viewtwelve.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>
        <activity
            android:name=".viewtwelve.activity.AboutActivity"
            android:parentActivityName=".viewtwelve.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>

        <service
            android:name=".viewtwelve.MediaPlayerService"
            android:enabled="true"
            android:permission="com.example.krishna.mp3alarm.MY_SERVICE_PERMISSION" />

        <receiver
            android:name=".viewtwelve.PlayAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".viewtwenty.activity.MainActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".viewtwenty.activity.RingingAlarmActivity"
            android:parentActivityName=".viewtwenty.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>
        <activity
            android:name=".viewtwenty.activity.AboutActivity"
            android:parentActivityName=".viewtwenty.activity.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.krishna.mp3alarm.MainActivity" />
        </activity>

        <service
            android:name=".viewtwenty.MediaPlayerService"
            android:enabled="true"
            android:permission="com.example.krishna.mp3alarm.MY_SERVICE_PERMISSION" />

        <receiver
            android:name=".viewtwenty.PlayAlarmReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <activity android:name=".VoiceActivity" />

        <!-- [START fcm_listener] -->
        <service android:name=".fcm.VoiceFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!-- [END fcm_listener] -->
        <!-- [START instanceId_listener] -->
        <service android:name=".fcm.VoiceFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".Contactus" />
        <activity android:name=".contact"></activity>
    </application>

</manifest>